<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215074148438-g6e2vkn3rsvrv9udi1gp1sqoatsoekeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215074148438-g6e2vkn3rsvrv9udi1gp1sqoatsoekeo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215074148438-3ekierl973s8s1m00edd7h8qk2dvg444.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZoOemh8UY--Jd4MsX503nDx18GaZQxuM</string>
	<key>GCM_SENDER_ID</key>
	<string>215074148438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prueba.GbookV2</string>
	<key>PROJECT_ID</key>
	<string>prueba-f3d26</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-f3d26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215074148438:ios:8f4c671e20a54499</string>
	<key>DATABASE_URL</key>
	<string>https://prueba-f3d26.firebaseio.com</string>
</dict>
</plist>