<head>
  <link rel="icon" type="image/png" href="../assets/favicon.ico" sizes="64x64">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  
    <h1>GESTION GBOOK</h1>

 
    <video id="videoFondo"src="../assets/Vintage_Computer__Space_Invaders_SEQ.mp4" autoplay="" loop="">
    </video>


  
    <app-usuarios></app-usuarios>
    <app-videojuegos></app-videojuegos>
    

  <audio controls autoplay>
    <source src="../assets/HolFix - Pixel Parade.mp3" type="audio/mp3">
  
  
  </audio>
</body>
